extends layout/main.pug

block header
    header
            nav
                ul
                    li
                        a(href="./pages/registration/index.pug") Регистрация
                    li
                        a(href="./pages/login/index.pug") Авторизация
block content
    p Список доступных страниц
block footer
    