<!DOCTYPE html>
html(lang="ru")
    head
        title Home Page
        //- script(src="index.js"  type='module')
        //- link(rel="stylesheet", type='text/css' href="main.css")
    body
        block header 

        block content

        block footer